---
import Layout from "../layouts/Layout.astro";
---

<Layout breadcrumb={{ title: "uses", href: "#" }}>
  <div class="container relative">
    <p>
      Here&apos;s a list of my favorite tools & applications. These are things I
      use profesionally or to maintain an organized digital life. For an always
      up to date version and details regarding configuration, see my{" "}
      <a
        target="_blank"
        class="link external"
        href="https://github.com/bezbac/dotfiles"
      >
        dotfiles
      </a>
      .
    </p>

    <p class="mt-4">
      Inspired by{" "}
      <a
        target="_blank"
        rel="noreferrer"
        class="link external"
        href="https://uses.tech"
      >
        uses.tech
      </a>
      .
    </p>

    <div
      class="mt-12 flex flex-col divide-y divide-neutral-820 dark:divide-neutral-190 lg:mt-20"
    >
      {
        (
          [
            {
              title: "Hardware",
              items: [
                <>
                  14&quot; MacBook Pro <span>(M1 Pro, 16GB RAM)</span>
                </>,
                <>
                  Mac Mini <span>(M1, 16GB RAM)</span>
                </>,
                "iPhone 12",
                "Logitech MX Keys for Mac",
                "Logitech MX Master 3",
              ],
            },
            {
              title: "Development Tools",
              items: [
                ["Visual Studio Code", "https://code.visualstudio.com"],
                ["WezTerm", "https://wezfurlong.org/wezterm/"],
                ["Helix", "https://helix-editor.com"],
                "ZSH",
                ["Zellij", "https://zellij.dev"],
                ["Atuin", "https://atuin.sh"],
                ["Zoxide", "https://github.com/ajeetdsouza/zoxide"],
                ["Sheldon", "https://github.com/rossmacarthur/sheldon"],
                ["Starship", "https://starship.rs"],
                ["Edamagit", "https://github.com/kahole/edamagit"],
                ["Dance", "https://github.com/71/dance"],
              ],
            },
            {
              title: "Applications",
              items: [
                ["Raycast", "https://raycast.com"],
                "Safari",
                ["Obsidian", "https://obsidian.md"],
                ["Linear", "https://linear.app"],
                ["1Password", "https://1password.com"],
                ["Tailscale", "https://tailscale.com"],
                ["LeaderKey", "https://github.com/mikker/LeaderKey.app"],
                ["Mela", "https://mela.app"],
                ["NextDNS", "https://nextdns.io"],
                ["Figma", "https://figma.com"],
                ["Orbstack", "https://orbstack.dev"],
                ["Spotify", "https://spotify.com"],
                ["NetNewsWire", "https://netnewswire.com"],
                ["GoodLinks", "http://Goodlinks.app"],
                ["Beeper", "https://www.beeper.com"],
                ["Anybox", "https://anybox.app"],
              ],
            },
          ] as const
        ).map(({ title, items }) => {
          return (
            <div class="flex py-4 text-prose-normal">
              <h2 class="w-1/3 shrink-0 text-base font-normal">{title}</h2>
              <ul class="flex flex-wrap gap-3">
                {items.map((item) => {
                  const [name, url] = !Array.isArray(item)
                    ? ([item, undefined] as const)
                    : (item as [string | React.ReactElement, string]);

                  const content = url ? (
                    <a
                      target="_blank"
                      class="cursor-pointer"
                      rel="noreferrer"
                      href={url}
                    >
                      {name}
                      <div class="inline-block size-4 rotate-180 -ml-2 translate-y-[0.1875rem] -mr-0.5">
                        ⟀
                      </div>
                    </a>
                  ) : (
                    <>{name}</>
                  );

                  return (
                    <li class="group rounded border text-prose-normal border-neutral-820 py-0.5 px-3 text-sm dark:border-neutral-310 dark:bg-neutral-230 [&>span]:text-prose-subtle">
                      {content}
                    </li>
                  );
                })}
              </ul>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
